html, body {
  height:100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

#root {
  height: 100%;
}

.joke-wrapper {
  height: calc(100% - 40px);
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 2em;
  text-align: center;
}

.joke-wrapper h1 {
  display: block;
}
